html {
    background-color: #6abcbe;
}

input {
    padding: 0.5vw;
    border-radius: 0.2vw;
    border: rgb(67, 67, 67) 0.4vh solid;
    font-size: 4vh;
    width: 7vw;
    text-align: center;
}

label {
    font-size: 4.5vh;
    margin: 0 0.5vw;
    color: black;
}

button {
    padding: 1vw 2vw;
    margin: 1vw;
    font-size: 4vh;
    border: none;
    background-color: rgb(46, 110, 194);
    color: white;
    border-radius: 0.5vw;
    cursor: pointer;
}

button:hover {
    background-color: rgb(69, 160, 224);
    scale: 1.05;
}

#dane {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    margin-bottom: 3vh;
    text-align: center;
}

#moj_div {
    margin-top: 15vh;
    color: black;
    font-size: 4vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}