body {
    background-color: black;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 1vw double green;
    z-index: 1;
}

#startButtonEasy{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

#startButtonHard{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}

#startButtonEasy, #startButtonHard {
    width: 300px;
    height: 90px;
    color: aliceblue;
    background-color: black;
    font-size: 2vh;
    font-weight: bolder;
    border: 1vw double green;
    border-radius: 5vh;
    z-index: 10;
}

.start-animation {
    animation: animacjaPrzycisku 3s forwards;
}

@keyframes animacjaPrzycisku {
    40% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    50% {
        height: 90px;
        width: 500px;
    }
    100% {
        width: 500px;
        height: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0;
        border-radius: 0;
    }
}