table{
    width: 100%;
    margin: auto;
}

td,tr{
    width: 8vw;
    height: 2vh;
    font-size: 4vh;
    text-align: center;
    border: black solid 0.3vw;

}

table tr:first-child td:first-child,
table tr:first-child td:last-child,
table tr:last-child td:first-child,
table tr:last-child td:last-child {
    visibility: hidden;
}

tr:first-child,
tr:last-child,
td:first-child,
td:last-child{
    background-color: red;
    width: auto;

}

input[type=number]{
    padding: 0.5vw;
    width: 19vw;
    margin: 0.3vw;
    border: solid 0.2vw #696969;
    border-radius: 5vw;
}

button{
    position: fixed;
    padding: 0.5vw;
    width: 14vw;
    margin: 0.3vw;
    border: solid 0.2vw #696969;
    border-radius: 5vw;
    font-weight: bold;
}