:root {
  --color-background: #f5f5f5;
  --color-secondary-background: #eeeeee;
  --color-text: #000000;
  --color-muted-text: #555555;
  --color-accent: #F08143;
  --color-accent-hover: #c06531;
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-shadow-light: rgba(0, 0, 0, 0.05);
  --color-hover-bg: rgba(255, 255, 255, 0.8);
}
